@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
body{
    margin: 0%;
    padding: 0%;
    font-family: "Montserrat", sans-serif;
}
header .logo{
        background-color: #FFC107;
        text-align: center;
}
header .menu{
    background-color: #FFA000;
    /* flexbox (mais detalhes prox. aula */
    display: flex;
    justify-content: center; /* centralizar na horizontal */
}
header .menu ul{
    margin: 0%; /*margin= espaçamento externo */
    list-style: none; /*tirar marcador da lista*/
}

header .menu ul li{
    display: inline-block;
    padding: 10px 15px; /* padding = espaamento interno | 10px para cima e para baixo, 15px para as laterais */
    
}

header .menu ul li a{
    text-decoration: none; /* tirar sublinhado */
    color: #FDFDFD; /* Muda a cor do texto */

}

main section.banner{
    height: 600px; /* altura */
    background-color: cadetblue; /* cor de fundo para teste */
    background-image: url(../IMAGENS/Banner-home.png); /* imagem de fundo */
    background-repeat: no-repeat; /* imagem não vai se repetir */
    background-size: cover; /*imagem vai cobrir todo elemento section */
}

main section.banner .container{
    display: flex;
    justify-content: flex-end; /* alinhamento horizontal para direita */
    align-items: center; /* alinhamento vertical centralizado */
    height: 600px; /* altura */ 
}

main section.banner h1{
    font-size: 70px;
    text-transform: lowercase; /* tudo com letra minuscula */
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36); /* somra do texto */
    padding: 100px;    
}

main section.receitas-principais .container{
    min-height: 600px;
    /* background-color: #FFC107; */
    width: 1200px; /* largura */
    margin: 0 auto; /* espaçamento automatico para centralizar ao centro */
}

main section.receitas-principais h2{
    color: #FFA000;
    text-align: center;
    font-weight: bold; /* Grossura da letra */
    font-size: 55px; /* tamanho do texto */
    text-transform: lowercase; /* letras minuscula */
}
.lista-receitas{
    display: flex;
    justify-content: space-evenly; /* espaçamento igual ao redor dos elementos (horizontal) */
    align-items: flex-start; /*itens alinhados ao topo (vertical) */
}

.lista-receitas article{
    /* border: 1px solid #FFA000;  borda somente para teste */
    width: 345px; /* largura do article */
    text-align: center; /* centralizar tudo no article */
}


.lista-receitas .thumb{
    width: 100%; /* imagem vai ocupar 100% da largura do article */
    height: 280px; /* altura thumb */
    background-color: #FFA000; /*cor de fundo somente para teste */
    background-size: cover; /* imagem cobre todo o elemento */
    background-repeat: no-repeat; /* imagem não se repete */
    background-position: center; /* alinha imagem no centro */
}

.lista-receitas article h3{
    font-size: 26px;
}

.lista-receitas article a{ 
    background-color: #176902; /* cor de fundo */
    color: #fff; /* cor do texto*/
    font-size: 24px; /* tamanho da letra */
    font-weight: bold; /* grossura da letra */
    padding: 5px 25px; /*espaçamento interno do botão */
    text-decoration: none; /* tirar sublinhado */
}

section.banner-secundario{
    background-image: url(../IMAGENS/foto-avo.png);
    background-size: cover;
    background-position: center;
}

section.banner-secundario .container{
    min-height: 600px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; /* itens em coluna */
    justify-content: center; /* alinhamento centralizado na vertical */    
}

section.banner-secundario .container h2{
    font-size: 62px;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section.banner-secundario .container p{
    color: #fff;
    font-size: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 450px;
}

footer{
    background-color: #FFC107;
    color: #fff;
    font-weight: 600px;
    font-size: 18px;
}

footer .container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
}

footer p{
    padding: 0 15px;
}